<div class="row marketing">
  <div class="col-xs-12">
    <form class="form-horizontal" name="loginForm" novalidate>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
          <input
            type="email"
            class="form-control input-lg"
            ng-model="login.email"
            ng-required="true"
            placeholder="Email"
            name="email"
            ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
        </div>
      </div>

      <div class="form-group">

        <div class="col-sm-offset-1 col-sm-10">
          <input
            type="password"
            class="form-control input-lg"
            ng-model="login.password"
            ng-required="true"
            placeholder="Password"
            name="password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
          <button
            ng-click="loginUser(login)"
            class="btn btn-start-ads"
            ng-disabled="loginForm.$invalid">
            Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
